body {
  min-height: 100vh;
  background-color: #195F70;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 624px;
  background-color: #C9E4CA;
  border-radius: 16px;
  margin: 16px;
}